<div class="ui feed">
  {{#each commit in controller}}
    <div class="event">
      <div class="label">
        <img class="avatar" {{bind-attr src=commit.author.avatarUrl}}>
      </div>
      <div class="content">
        <div class="summary">
          <a {{bind-attr href=commit.author.htmlUrl}} target="_blank">
            {{commit.author.login}}
          </a>
        </div>
        <div class="extra text">
          {{commit.commit.message}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
