<div class="ui fixed main menu">
  <div class="container">
    <div class="title item">
      わだちファイター
    </div>
    <div class="right item">
      <a href="http://wdch.jp/" target="_blank">
        <i class="lab icon"></i>
        株式会社わだち
      </a>
    </div>
  </div>
</div>
<div class="pusher content container">
  {{outlet}}
</div>
