<div class="page">
  <h2 class="ui top attached header">
    <i class="feed icon"></i>
    <div class="content">
      ニュース
      <div class="sub header">
        最近の30日間
      </div>
    </div>
  </h2>
  <div class="ui attached segment outlet">
    {{outlet}}
  </div>
</div>
